{% extends "member/member_base.html" %}
{% block title %}My Membership{% endblock %}

{% block content %}
<div class="card">

  <h2>Welcome, {{ data.name }}</h2>

  {% if data.plan %}
    <div class="membership-box">
      <p><strong>Plan:</strong> {{ data.plan }}</p>
      <p><strong>Start Date:</strong> {{ data.start_date }}</p>
      <p><strong>End Date:</strong> {{ data.end_date }}</p>

      {% if data.end_date >= today %}
        <span class="badge active">Active</span>
      {% else %}
        <span class="badge expired">Expired</span>
      {% endif %}
    </div>
  {% else %}
    <p>❌No active membership. Please contact gym admin.</p>
  {% endif %}

</div>
{% endblock %}
