{% extends "admin/admin_base.html" %}
{% block title %}Expiring Soon{% endblock %}

{% block content %}
<h2>⚠ Memberships Expiring Soon</h2>

<div class="table-wrapper">
<table>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Plan</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>

      {% for m in members %}
          <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.phone }}</td>
                <td>{{ m.plan }}</td>
                <td>{{ m.end_date }}</td>
                <td>
                  <a class="btn secondary" href="/assign/{{ m.id }}">Renew</a>
                </td>
          </tr>
      {% endfor %}
</table>
</div>

{% if members|length == 0 %}
<p>No memberships expiring in next 7 days 🎉</p>
{% endif %}
{% endblock %}
